body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f3fa;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #a78bfa;
  color: white;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8b5cf6;
}
